*{
    box-sizing: border-box;
    margin: 0;
    top: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; 
 /* 1   background-color: blue; */
}
.container{
    width: 100vw;
    height: 100vh;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: blueviolet; */
}
.title{
   top: 0;
   font-size: 20px;
   letter-spacing: 2px;
}
.main{
   display: flex;
}

.inputs{
    height: 30vh;
    width: 9vw; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn1{
    height: 10vh;
    width: 8vw;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 5vh;
    background: skyblue;
    border: 1px skyblue solid;  
}
.btn1:hover{
    opacity: 0.8;
  }
.statisticbox{
    border: 1px black solid;
    width: 80vw;
    height: 60vh; 
}
#myChart{
    position: relative;
}
.cases{
   height: 10vh;
   width: 86vw; 
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}
.btn{
    width: 10vw;
    height: 9vh;
    font-size: 16px;
    font-weight: 200;
    background: skyblue;
    border: 1px skyblue solid;
}
.btn:hover{
  opacity: 0.8;
}
.numbers{
   height: 30vh;
   width: 86vw; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px skyblue solid;
    width: 10vw;
    height: 20vh;
}
.one{
    width: 10vw;
    height: 20vh;
    font-size: 16px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: skyblue;
}
.two{
    width: 10vw;
    height: 10vw;
    font-size: 16px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectcontainer{
    /* background-color: aqua; */
    width: 100vw;
   /* height: 70vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#Country{
    width: 30vw;
    height: 4vh;
    border-color: skyblue;
    font-size: 16px;
}
#selectbtn{
    width: 10vw;
    height: 4vh;
    border-color: skyblue;
    font-size: 16px;  
}
